body{
    background-image: url(https://d3m9l0v76dty0.cloudfront.net/system/photos/3056140/large/25f1be286c711a90706038a81e557b36.jpg);
}

h1{
    font-family: fantasy;
    text-align: center;
    margin: 50px;
}

.fade_in{
animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.task{
    padding:50px 20px 20px 30px;
    overflow-y: scroll;
    height: 300px;
    width: 300px;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/022/299/318/small_2x/sticky-note-paper-transparent-free-png.png) ;
    background-size: 180% 120%;
    background-position: 60% 50%;
}


.form-content{
    background-image: url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/yellow-notebook-paper-background-design-template-d7dfa26f8c8c759652e2521f0ecd24eb_screen.jpg?ts=1636990781);
    background-position:0% 20%;
    background-size: 90% ;
}

.deleteBtn{
    height: 10px;
    width: 10px;
    background-color: black;
}