body{
    background-image: url(https://d3m9l0v76dty0.cloudfront.net/system/photos/3056140/large/25f1be286c711a90706038a81e557b36.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
    margin: 50px;
}

label{
    font-size: 20px;
}

p{
    padding: 0;
    margin: 0;
}

h5{
    text-align: center;
    overflow-y: scroll;
}

i{
    color: white;
}

.fade_in{
animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.task{
    display: flex;
    justify-content: space-between;
    margin:20px 20px 20px 30px;
    padding-right: 20px;
    height: 300px;
    width: 300px;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/022/299/318/small_2x/sticky-note-paper-transparent-free-png.png) ;
    background-size: 180% 120%;
    background-position: 60% 50%;
}
.dueDate{
    padding: 10px 10px 10px 35px;
}

.form-content{
    background-image: url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/yellow-notebook-paper-background-design-template-d7dfa26f8c8c759652e2521f0ecd24eb_screen.jpg?ts=1636990781);
    background-position:0% 20%;
    background-size: 90% ;
    padding: 10px;
    border-radius: 20px;
    font-family: fantasy;
}

div{
    padding: 10px;
}

.deleteBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 5px;
    border: none;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
}